package repository

import (
	"context"
	"github.com/louvri/gosl/transformer"
)

type Repository interface {
	Get(ctx context.Context, queryParams any,trans ...transformer.Transformer) (any,error)
	All(ctx context.Context, queryParams any, trans ...transformer.Transformer) (any,error)
	Set(ctx context.Context, model any, usePreparedStatement bool) (int64,error)
	Query(ctx context.Context, queryParams any, trans ...transformer.Transformer) (any,error)
	Count(ctx context.Context, queryParams any) (total int, err error)
	Insert(ctx context.Context, model any, usePreparedStatement bool) (int64,error)
	Update(ctx context.Context, model any, queryParams any) error
	Upsert(ctx context.Context, model any, usePreparedStatement bool) (int64,error)
	Delete(ctx context.Context, queryParams any) error
}
